<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../estilos/admisiones.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
    </style>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
    </style>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap");
    </style>
    <title>Intituto Palabra de Vida</title>
  </head>
  <!-- menu -->
  <header>
    <nav class="menu">
      <ul>
        <img
          class="escudo"
          src="../Img/Escudo-removebg-preview.png"
          alt="PDV"
        />
        <a class="inicio" href="../index.html">INICIO</a>
        <a class="conocenos" href="./conocenos.html">CONÓCENOS</a>
        <a class="quien" href="./quien.html">¿QUIÉNES SOMOS?</a>
        <a class="admisiones" href="./admisiones.html">ADMISIONES</a>
        <a class="contacto" href="./contacto.html">CONTACTO</a>
      </ul>
    </nav>
  </header>

  <!-- Admisiones -->
  <div class="que">
    <h1 class="titulo">ADMISIONES</h1>
  </div>

  <div class="container">
    <div class="img1">
      <h1>LICENCIATURA PASOS PARA INSCRIBIRTE</h1>
      <p>
        Pasos para inscribirte <br />
        1.- llenar la solicitud de inscripción<br />
        2. Los documentos se entregarán en las oficinas del instituto de lunes a
        viernes de 9 am a 2pm y de 3 a 6 pm Deberás entregar en original:<br />
        a) Acta de nacimiento<br />
        b) Certificado de ultimo grado de estudios ya sea primaria o
        secundaria<br />
        c) Para la validación de la licenciatura por la SEP se necesita el
        certificado de bachillerato.<br />
        d) CURP<br /><br /><br />
        Costos:<br />
        En la modalidad de INTERNO y Externo Ofrecemos la oportunidad para que
        no te quedes sin estudiar y los costos son ofrendas llegando a un
        convenio mensual.<br />
        La modalidad de FIN DE SEMANA se paga por materia a cursar de manera
        bimestral.
      </p>
    </div>
    <div class="img2">
      <div class="formu">
        <h1 class="encabezado-formu">
          ¿Quieres informacion? Mandanos tus dudas para contactarnos contigo.
        </h1>

        <div class="form">
        <form class='contacto2'>
            <div><label>Tu Nombre:</label><input type='text' value=''></div>
            <div><label>Tu Email:</label><input type='text' value=''></div>
            <div><label>Tu Telefono:</label><input type='text' value=''></div>
            <div><label>Asunto:</label><input type='text' value=''></div>
            <div><label>Mensaje:</label><textarea rows='6'></textarea></div>
            <div><input type='submit' value='Envia Mensaje'></div>
        </form>
        </div>
      </div>
    </div>
  </div>


  <body>
    <!-- Footer -->
    <footer>
      <div>
        <a href="#"
          ><img class="insta" src="../Img/Diseño sin título.png" alt=""
        /></a>
        <a href="#"
          ><img class="wats" src="../Img/Diseño sin título(2).png" alt=""
        /></a>
        <a href="#"
          ><img class="fb" src="../Img/Diseño sin título (1).png" alt=""
        /></a>
      </div>
      <h1 class="copy">
        © Copyright Palabra de vida. Todos los derechos reservados
      </h1>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
