<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../estilos/conocenos.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
    </style>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
    </style>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap");
    </style>
    <title>Intituto Palabra de Vida</title>
  </head>
  <!-- menu -->
  <header>
    <nav class="menu">
      <ul>
        <img
          class="escudo"
          src="../Img/Escudo-removebg-preview.png"
          alt="PDV"
        />
        <a class="inicio" href="../index.html">INICIO</a>
        <a class="conocenos" href="./conocenos.html">CONÓCENOS</a>
        <a class="quien" href="./quien.html">¿QUIÉNES SOMOS?</a>
        <a class="admisiones" href="./admisiones.html">ADMISIONES</a>
        <a class="contacto" href="./contacto.html">CONTACTO</a>
      </ul>
    </nav>
  </header>

  <body>
    <!-- Principal -->
    <div>
      <img
        class="principalc"
        src="../Img/118630527_1793123440825981_8929532379273039786_o.jpg"
        alt=""
      />
    </div>

    <div>
      <h1>Modalidades de estudio</h1>
      <h2 class="primero">ESCOLARIZADO</h2>
      <p class="uno">
        Los alumnos podrán asistir a todas las clases que se impartirán durante
        la semana, como a todas las actividades normales que realizan los
        alumnos internos, cubriendo un horario de 8:00 am a 2:00 pm.
      </p>

      <h2 class="segundo">INTERNO.</h2>
      <p class="dos">
        Los alumnos internos desarrollan una serie de actividades al formar
        parte integral de esta institución, y como objetivo principal se busca
        que el alumno fortalezca su carácter, mediante el estudio de la Palabra,
        la comunión indima con el Padre y el desarrollo de un ministerio eficaz,
        igual que su asistencia a todas las clases impartidas semana a semana.
      </p>
      <h2 class="tercero">FIN DE SEMANA</h2>
      <p class="tres">
        El alumno tiene la oportunidad de asistir a todas las clases impartidas
        en esta institución con la finalidad de prepararle para servir con
        excelencia con un horario de: Viernes de 3:00 pm a 7:00 pm y Sábados de
        8:00 am a 2:00 pm
      </p>
      <p class="cuatro">
        Modalidades: escolarizado: interno y externo Fin de semana
      </p>
      <p class="cinco">Estudios validado por la SEP</p>
    </div>

    <!-- Footer -->
    <footer>
      <div>
        <a href="#"
          ><img class="insta" src="../Img/Diseño sin título.png" alt=""
        /></a>
        <a href="#"
          ><img class="wats" src="../Img/Diseño sin título(2).png" alt=""
        /></a>
        <a href="#"
          ><img class="fb" src="../Img/Diseño sin título (1).png" alt=""
        /></a>
      </div>
      <h1 class="copy">
        © Copyright Palabra de vida. Todos los derechos reservados
      </h1>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
