<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../estilos/quien.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
    </style>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
    </style>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap");
    </style>
    <title>Intituto Palabra de Vida</title>
  </head>
  <!-- menu -->
  <header>
    <nav class="menu">
      <ul>
        <img
          class="escudo"
          src="../Img/Escudo-removebg-preview.png"
          alt="PDV"
        />
        <a class="inicio" href="../index.html">INICIO</a>
        <a class="conocenos" href="./conocenos.html">CONÓCENOS</a>
        <a class="quien" href="./quien.html">¿QUIÉNES SOMOS?</a>
        <a class="admisiones" href="./admisiones.html">ADMISIONES</a>
        <a class="contacto" href="./contacto.html">CONTACTO</a>
      </ul>
    </nav>
  </header>

  <!-- Quienes somos -->
  <div class="que">
    <h1 class="titulo">¿QUE ES PALABRA DE VIDA?</h1>
  </div>

  <div class="">
    <img class="central" src="../Img/IMG-20200831-WA0006.jpg" alt="" />
  </div>

  <div class="texto">
    <p>
      Es un Instituto que ofrece la oportunidad de recibir enseñanza y
      capacitación a hombres y mujeres que deseen servir a Dios y a la
      comunidad. El Instituto está diseñado con el fin de llevar al alumno a
      alcanzar el éxito en su vida a través de los principios de la Palabra de
      Dios. La meta es que el alumno logre cambios permanentes en su vida y
      carácter por medio de la autodisciplina, la integridad y el autocontrol en
      sus emociones, voluntad y pensamientos. Nuestro país necesita personas con
      estas características, y en el instituto se enseñan los principios para
      adquirirlas. Con la visión del instituto y la enseñanza de cada uno de sus
      maestros se logrará que el plan de Dios se lleve a cabo en cada una de las
      personas que lleguen a este lugar.
    </p>
    <h1>VISIÓN</h1>
    <p>
      Ser una institución que proporcione los elementos necesarios para la
      formación integral, profesional y de servicio hacia la excelencia.
    </p>
    <h1>MISIÓN</h1>
    <p>
      A través de recursos humanos, morales y pedagógicos, establecer en los
      alumnos los principios y conceptos necesarios para una vida de éxito,
      desarrollando en ellos una vocación de servicio, útiles para la vida
      productiva, institucional y educativa de nuestro país inculcando en ellos
      el respeto por la vida, la sociedad y el medio ambiente.
    </p>
    <h1 class="lema">“Capacitación y entrenamiento con la Palabra viva y el poder del Espíritu Santo”</h1>
  </div>

  <body>
    <!-- Footer -->
    <footer>
      <div>
        <a href="#"
          ><img class="insta" src="../Img/Diseño sin título.png" alt=""
        /></a>
        <a href="#"
          ><img class="wats" src="../Img/Diseño sin título(2).png" alt=""
        /></a>
        <a href="#"
          ><img class="fb" src="../Img/Diseño sin título (1).png" alt=""
        /></a>
      </div>
      <h1 class="copy">
        © Copyright Palabra de vida. Todos los derechos reservados
      </h1>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
